nav.navbar .navbar-item {
  &:focus {
    background-color: $navbar-item-focus-background-color;
  }
}
.hero {
  nav.navbar .navbar-item {
    &:hover,
    &.is-active {
      background-color: $hero-navbar-item-hover-background-color;
    }
    &:focus {
      background-color: $hero-navbar-item-focus-background-color;
    }
  }
}

.is-sticky-nav {
  z-index: $navbar-z;
  position: sticky;
  top: 0;
}
