@charset "utf-8";

$primary: #3c78d8;
$info: #54c0f2;
$success: #83ef40;
$warning: #edf73b;
$danger: #f42474;
$navbar-burger-color: inherit;

$size-7: 0.85rem;

$section-padding: 2rem 1.5rem;

@import "~bulma/bulma";
@import "~prism-themes/themes/prism-ghcolors.css";

html {
  scroll-behavior: smooth;
}

.full-page-custom {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  min-height: 100vh;
  min-height: stretch;

  background-color: $white;
}

.content {
  .columns {
    .column {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
      }
    }
  }
}

.is-fullwidth {
  width: 100%;
}
.is-fullheight {
  height: 100%;
}

@import "button";
@import "nav";
@import "grid";
@import "sidebar";
@import "loader";

@import "hacks";
