@charset "utf-8";
@use "sass:math";

$grid-gap: 1rem;
$grid-gap-half: math.div($grid-gap, 2);

.custom-grid {
  display: grid;

  .custom-grid-item {
    padding-left: $grid-gap-half;
    padding-right: $grid-gap-half;
    padding-top: $grid-gap-half;
    padding-bottom: $grid-gap-half;

    & > * {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  }
}

@include mobile {
  .custom-grid {
    grid-template-columns: 1fr;
  }
}

@include tablet {
  .custom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include desktop {
  .custom-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
